/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220; /* These will be replaced by your new colors */
    --background-end-rgb: 255, 255, 255; /* These will be replaced by your new colors */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 81, 147, 179; /* Traverse dark blue in rgb */
      --background-end-rgb: 81, 147, 179; /* Traverse dark blue in rgb */
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      ),
      rgb(var(--background-start-rgb));
  }
}
